<h1>Shows Found</h1>

<main class="showList">
    {{#if shows.length}}
    <ul class="showListUl">
        {{#each shows}}
        <li>
            <a href="/shows/{{show.id}}">{{show.name}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for this.</p>
    {{/if}}
</main>