<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Show Finder</title>
    <link rel="stylesheet" href="../public/css/site.css">
</head>

<body>
    <header>
        <h1>Show Finder</h1>
    </header>

    <main>
        {{{body}}}
    </main>
</body>

</html>