<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Show Finder</title>
    <link rel="stylesheet" href="../public/css/site.css">
</head>

<body>
    <header>
        <h1>Show Finder</h1>
    </header>

    <main class="rootMain">
        <p>Type in a keyword and search for movies fitting that key word (if there are any). The request will return up
            to 20 shows/films that fit your search</p>
        <form action="/search" method="POST">
            <label for="searchTerm">
                Search Term: 
                <input type="text" placeholder="searchTerm" id="searchTerm" name="searchTerm">
            </label>
            <button type="submit">Submit the form</button>
        </form>
    </main>

    <main>
        {{{body}}}
    </main>
</body>

</html>